@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --blue-darker: #3D63C5;
  --blue-hover: #3E66CD;
  --blue-color: #436CD6;
  --dark-blue: #1C212E;
  --secondary: #E3256A;
  --lightblue: #B4C5F0;
  --lighterblue: #E5ECFE;
  --secondary-2: 227, 37, 106, 0.12;
  --secondary-1: 227, 37, 106, 0.21;
  --dark-blue-light: 28, 33, 46, 0.62;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
html{
  font-size: 16px;
}
html, body{
  position: relative;
  height: 100%;
}
body {
  color: rgb(var(--foreground-rgb));
  background : url(/magicpattern-grid-pattern.png), rgb(2 7 20 / 87%);
  background-size: 100% 100%;
  /* background-size: cover; */
  background-repeat: no-repeat;

  
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

.row{
  background: red;
}